.red{
    height: 300px;
    width: 500px;
    background-color: red;
    position: relative;
 
}
.blue{
    height: 150px;
    width: 500px;
    background-color: blue;
    position: absolute;
    top: 75px;
}
.white{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 200px;
}

.plava{
    height: 300px;
    width: 500px;
    background-color: blue;
    position: relative;
    
    
}
.bijela1{
    height: 300px;
    width: 100px;
    background-color: white;
    position: absolute;
    left: 100px;
}
.bijela2{
    height: 80px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 120px;
}
.crvena1{
    height: 300px;
    width: 60px;
    background-color: red;
    position: absolute;
    left: 120px;
}
.crvena2{
    height: 50px;
    width: 500px;
    background-color: red;
    position: absolute;
    top: 135px;
}

.plavaB{
    height: 300px;
    width: 500px;
    background-color: darkcyan;
    position: relative;
}
.zuta{
    height: 100px;
    width: 500px;
    background-color: yellow;
    position: absolute;
    top: 100px;
}
.trokut{
    height: 0;
    width: 0;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 200px solid black;
    position: absolute;

    z-index: 1;
}

.bahcrv{
    height: 300px;
    width: 500px;
    background-color: red;
    position: relative;
    border: solid black;
}
.bahbijela{
    height: 300px;
    width: 100px;
    background-color: white;
    position: absolute;
}
.tr1{
    height: 0;
    width: 0;
    
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid white;
    position: absolute;
    left: 100px;
    
    z-index: 1;
}
.tr2{
    height: 0;
    width: 0;
    
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid white;
    position: absolute;
    left: 100px;
    top: 80px;
    
    z-index: 1;
}
.tr3{
    height: 0;
    width: 0;
    
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid white;
    position: absolute;
    left: 100px;
    top: 160px;
    
    z-index: 1;
}
.tr4{
    height: 0;
    width: 0;
    
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid green;
    position: absolute;
    left: 100px;
    top: 100px;
    
    z-index: 1;
}