body{
    background-color: lightgray;
}

img{
  
    height: 350px;
    width:350px;
    margin-left: 20%;
    border-radius: 10%;
   ;
}
.okvir{
    height: 700px;
    background-color: white;
    width: 600px;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 10%;
    
}
p{
    font-size: 20px;
    text-align: center;
}