/* 
  TODO: Create a motivational post website.
Style it how ever you like. 
Look at the goal image for inspiration.
But it must have the following features:
1. The main h1 text should be using the Regular Libre Baskerville Font from Google Fonts:
  https://fonts.google.com/specimen/Libre+Baskerville
2. The text should be white and background black.
3. Add your own image into the images folder inside assets. It should have a 5px white border.
4. The text should be center aligned.
5. Create a div to contain the h1, p and img elements. Adjust the margins so that the image and text are centered on the page. 
  Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%.
  Hint: Set the image to have a width of 100% so it fills the div. 
6. Read about the text-transform property on MDN docs to make the h1 uppercase with CSS.
  https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform 
*/

body{
    background-color: black;
}
.slika{
    margin-left: 35%;
    width: 700px;
    height: 380px;
    border: 2px solid white;
}
.tekst1{
    color: white;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 40px;
}
.tekst2{
    color: white;
    margin-left: 5%;
    text-align: center;
}
