.pozadina{
    height: 300px;
    width: 400px;
    border: 5px solid black;
    background-color: #D96E9F;
    position: relative;
}


.a1{
    height: 300px;
    width: 60px;
    background-color: #6255AA;
    position: absolute;
    left: 170px;

}

.a2{
    height: 50px;
    width: 400px;
    background-color: #6255AA;
    position: absolute;
    top: 120px;
}

.a3{
    height: 300px;
    width: 60px;
    background-color: #6255AA;
    position: absolute;
}

.a4{
    height: 300px;
    width: 60px;
    background-color: #6255AA;
    position: absolute;
    left: 340px;
}

.a5{
height: 0;
    width: 0;
    border-top: 0px solid transparent;
    border-bottom: 200px solid transparent;
    border-left: 150px solid #6255AA;
    
    position: absolute;

    z-index: 1;
}

.a6{
    height: 0;
    width: 0;
    border-top: 0px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 80px solid #6255AA;
    
    position: absolute;
    left: 150px;
    z-index: 1;
}


.a7{
    height: 0;
    width: 0;
    border-top: 0px solid transparent;
    border-bottom: 200px solid transparent;
    border-right: 150px solid #6255AA;
    
    position: absolute;
    left: 250px;

    z-index: 1;

}

.a8{
    height: 0;
    width: 0;
    border-top: 0px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 80px solid #6255AA;
    
    position: absolute;
    left: 170px;
    z-index: 1;
}

.a9{
    height: 0;
    width: 0;
    border-top: 220px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 150px solid #6255AA;
    
    position: absolute;
    top: 80px;

    z-index: 1;

}

.a10{
    height: 0;
    width: 0;
    border-top: 100px solid transparent;
    border-bottom: 00px solid transparent;
    border-right: 80px solid #6255AA;
    
    position: absolute;
    top: 200px;
    left: 150px;
    z-index: 1;

}

.a11{
    height: 0;
    width: 0;
    border-top: 220px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 150px solid #6255AA;
    
    position: absolute;
    top: 80px;
    left: 250px;

    z-index: 1;
}

.a12{
        height: 0;
    width: 0;
    border-top: 100px solid transparent;
    border-bottom: 00px solid transparent;
    border-left: 80px solid #6255AA;
    
    position: absolute;
    top: 200px;
    left: 170px;
    z-index: 1;
}


.obrub{
    width: 500px;
    height: 300px;
    border: 5px solid black;
    background-color: white;
    position: relative;

}



.ime{
   padding-left: 250px;
   font-size: 30px;
   font-family: sans-serif;
   font-weight: bold;
   position: absolute;
}

.opis{
    padding-left: 220px;
    font-size: 15px;
    font-family: sans-serif;
    padding-top: 100px;
    color: gray;


}
.mail{
    padding-left: 220px;
    font-size: 15px;
    font-family: sans-serif;
    padding-top: 10px;
    color: grey;

}

.tel{
    padding-left: 220px;
    font-size: 15px;
    font-family: sans-serif;
    
    color: grey;
}



